<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' https://cdnjs.cloudflare.com/; img-src 'self'">
  </head>
  <body class="container">

    <header>
      
    </header>

    <main>
      <p>Test worked</p>
    </main>

    <footer>
      
    </footer>
  </body>
</html>
