<!DOCTYPE html>
<meta charset="UTF-8" http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; img-src data: self;">
Content-Security-Policy: img-src self data:
<html lang="en">
  <body>
    <main>
      <h1>About page</h1>
      <p>Worst about page ever</p>
    </main>
  </body>
</html>
